services:
  tandoor_db:
    container_name: tandoor_db
    image: postgres:16-alpine
    volumes:
      - /home/jonask/data/tandoor/postgresql:/var/lib/postgresql/data
    env_file:
      - ./.env
    restart: unless-stopped
    

  tandoor:
    container_name: tandoor
    image: vabene1111/recipes:master
    env_file:
      - ./.env
      - ./.secrets.env
    volumes:
      - staticfiles:/opt/recipes/staticfiles
      - /mnt/media0/tandoor/mediafiles:/opt/recipes/mediafiles
    depends_on:
      - tandoor_db
    restart: unless-stopped

volumes:
  staticfiles:
